body {
  font-family: "Inconsolata", monospace;
  background-color: #f0f3f5;
  color: #0d090a;
}

h1 {
  font-size: 52px;
}

.container {
  justify-content: center;
  text-align: center;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 550px;
  box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, 0.75);
}

.square {
  background-color: white;
  outline: 4px solid #0d090a;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #10a8a0 50%);
  display: inline;
}

button {
  font-family: "Inconsolata", monospace;
  background-color: #f0f3f5; /* Green */
  border: 3px solid #0d090a;
  border-radius: 6px;
  font-weight: 600;
  color: #0d090a;
  padding: 10px 10px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, 0.75);
}

button:hover {
  box-shadow: inset 2px 2px 6px 5px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: 0;
  cursor: pointer;
  background-color: #0d090a;
  color: #f0f3f5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0d090a;
  color: #f0f3f5;
  text-align: right;
}

.footer-text {
  line-height: 8px;
  padding-right: 20px;
}

.footer-text a {
  color: #f0f3f5;
  text-decoration: none;
}

.footer-text a:hover {
  color: #10a8a0;
}
